[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
pip = "==18.0"

[dev-packages]
sphinx = "*"
black = "*"
pre-commit = "*"
requests = "*"
pytest = "*"
bottle-tools = {editable = true, path = "."}
sphinx-argparse = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
